---
import Projects from '../../pages/projects.astro';

const baseUrl = import.meta.env.BASE_URL;

type Project = {
  title: string;
  urls: string[];
  timeframe: string;
  desc: string;
  img: string;
  alt: string;
  contributers: string[];
};

export interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<article class="project-card">
  <img
    src={`${baseUrl}/images/projects/project-images/${project.img}`}
    alt={project.alt}
  />
  <div class="text-content">
    <h3>{project.title}</h3>
    {project.timeframe && <h4>{project.timeframe}</h4>}
    <div class="description">
      {project.desc && <p class="desc">{project.desc}</p>}
      {
        project.contributers.length > 0 && (
          <>
            <h5>Contributors</h5>
            <p>{project.contributers.join(', ')}</p>
          </>
        )
      }
      {
        project.urls.length > 0 && (
          <>
            <h5>Links</h5>
            <ul>
              {project.urls.map((url) => (
                <li>
                  <a href={url} target="_blank" rel="noopener noreferrer">
                    {url}
                  </a>
                </li>
              ))}
            </ul>
          </>
        )
      }
    </div>
  </div>
</article>

<style>
  .project-card {
    position: relative;
    gap: 20px;
    margin: 40px 0;
    overflow: hidden;
    border: 2px solid #d4d4d4;
    border-radius: 10px;
  }

  .project-card h3 {
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .project-card h4 {
    margin: 0.3rem 0;
    font-weight: 100;
    font-style: italic;
    font-size: 1.2rem;
  }

  .project-card h5 {
    font-size: 1rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .project-card .text-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    align-content: center;
    padding: 20px;
    box-sizing: border-box;

    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .project-card:hover .text-content {
    opacity: 1;
  }

  .project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .project-card h5 + p,
  .project-card h5 + ul {
    margin-top: 0.5rem;
    padding-left: 0;
  }

  .project-card a {
    word-break: break-all;
    text-decoration: none;
    color: inherit;
  }

  .project-card a:hover {
    color: #bbbbbb;
  }

  .project-card li {
    list-style-type: none;
    margin-top: 0.5rem;
  }

  @media screen and (max-width: 839px) {
    .project-card h4 {
      color: #888888;
    }

    .project-card {
      display: flex;
      flex-direction: column;
    }

    .project-card .text-content {
      position: static;
      width: 100%;
      height: auto;
      order: -1;
      opacity: 1;
    }

    .project-card img {
      order: 0;
    }
  }

  @media screen and (min-width: 840px) {
    .project-card .text-content {
      width: 40%;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(10px);
      color: white;
    }
  }

  @media screen and (min-width: 1260px) {
    .project-card .description {
      padding-left: 40px;
    }
    .project-card h5 + p,
    .project-card h5 + ul {
      padding-left: 20px;
    }
    .project-card .text-content {
      width: 33.33%;
    }
  }
</style>
