---
import SiteLayout from '../layouts/SiteLayout.astro';

const baseUrl = import.meta.env.BASE_URL;
---

<SiteLayout>
  <main>
    <div id="hero-img">
      <img
        id="cool-picture"
        src={`${baseUrl}/images/home/header-hero-img.jpg`}
      />
      <h1 id="motto">Crafting the Web, Empowering Innovation.</h1>
    </div>
    <div id="wdd-meeting">
      <h1 class="meeting-main-text">Society Meeting</h1>
      <p class="meeting-info">Location: STC 231</p>
      <p class="meeting-info">Wednesdays at 5:30 PM</p>
      <p class="meeting-info meeting-desc">
        Cool web development activities here.
      </p>
    </div>
    <div id="about-us">
      <img id="about-picture" />
      <div id="hero-img">
        <img id="cool-picture" src={`${baseUrl}/images/home/classroom2.jpg`} />
        <div id="about-us-desc">
          <h1 class="about-us-main-text">About Us</h1>
          <a href={`${baseUrl}/about`} class="about-us-btn">Learn More</a>
        </div>
      </div>
    </div>
    <section id="cool-cards">
      <a href={`${baseUrl}/members`} id="member-card" class="cool-card">
        <h1>Members</h1>
      </a>
      <a href={`${baseUrl}/gallery`} id="gallery-card" class="cool-card">
        <h1>Gallery</h1>
      </a>
      <a href={`${baseUrl}/projects`} id="project-card" class="cool-card">
        <h1>Projects</h1>
      </a>
    </section>
  </main>
</SiteLayout>

<script is:inline>
  /* eslint-disable eqeqeq */

  const events = [
    {
      title: 'Society Meeting',
      date: '3/26/2025',
      time: '5:30pm',
      location: 'STC 231',
      description: 'Discussing upcoming events and projects',
    },
  ];

  events.forEach((event, index) => {
    event.id = index;
  });

  const renderEvents = () => {
    let windowWidth = window.innerWidth;
    let eventSize = 0;
    if (windowWidth < 840) {
      eventSize = 1;
    } else if (windowWidth < 1260) {
      eventSize = 2;
    } else {
      eventSize = 4;
    }

    window.addEventListener('resize', function () {
      windowWidth = window.innerWidth;
      if (windowWidth < 840) {
        eventSize = 1;
      } else if (windowWidth < 1260) {
        eventSize = 2;
      } else {
        eventSize = 4;
      }
      updateEvents();
      checkArrowAvailability();
    });

    const eventContainer = document.querySelector('.event-container');
    let eventIndex = 0;
    const updateEvents = () => {
      eventContainer.innerHTML = '';

      if (eventIndex >= 0 && eventIndex + eventSize < events.length) {
        events.slice(eventIndex, eventIndex + eventSize).forEach((event) => {
          const eventElement = document.createElement('div');
          eventElement.classList.add('event');
          event.id % 2 == 0
            ? eventElement.classList.add('evenEvent')
            : eventElement.classList.add('oddEvent');
          eventElement.innerHTML = `
                <h3>${event.title}</h3>
                <p>Date: ${event.date}</p>
                <p>Time: ${event.time}</p>
                <p>Location: ${event.location}</p>
                <p>${event.description}</p>
            `;
          eventElement.classList.add('card');
          eventContainer.appendChild(eventElement);
        });
      } else if (eventIndex >= 0 && eventIndex + eventSize >= events.length) {
        events.slice(eventIndex, events.length).forEach((event) => {
          const eventElement = document.createElement('div');
          eventElement.classList.add('card');
          event.id % 2 == 0
            ? eventElement.classList.add('evenEvent')
            : eventElement.classList.add('oddEvent');
          eventElement.innerHTML = `
                <h3>${event.title}</h3>
                <p>Date: ${event.date}</p>
                <p>Time: ${event.time}</p>
                <p>Location: ${event.location}</p>
                <p>${event.description}</p>
            `;
          eventContainer.appendChild(eventElement);
        });
      }
    };

    const leftArrow = document.querySelector('#left-arrow');
    const rightArrow = document.querySelector('#right-arrow');

    const checkArrowAvailability = () => {
      if (eventIndex == 0) {
        leftArrow.classList.add('unavailable');
      } else {
        leftArrow.classList.remove('unavailable');
      }
      if (eventIndex == events.length - eventSize) {
        rightArrow.classList.add('unavailable');
      } else {
        rightArrow.classList.remove('unavailable');
      }
    };

    leftArrow.addEventListener('click', function () {
      if (eventIndex != 0) {
        eventIndex--;
      }
      updateEvents();
      checkArrowAvailability();
    });

    rightArrow.addEventListener('click', function () {
      if (eventIndex != events.length - eventSize) {
        eventIndex++;
      }
      updateEvents();
      checkArrowAvailability();
    });

    checkArrowAvailability();
    checkArrowAvailability();
    updateEvents();
  };

  renderEvents();
</script>

<style>
  #cool-cards {
    display: grid;
    justify-items: center;
    width: 100%;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    gap: 20px;
    padding: 20px;
  }

  .cool-card {
    display: flex;
    width: 350px;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.3s ease;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
  }

  .cool-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: white;
  }

  .event-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .event-arrows {
    border: none;
    font-size: 50px;
    color: var(--primary-color);
    aspect-ratio: 1;
    background-color: var(--secondary-color);
    border-radius: 10px;
    height: 70px;
    aspect-ratio: 1/1;
    transition: 0.3s;
  }

  .event-arrows:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
  }

  .event-arrows:active {
    background-color: white;
    color: #003457;
  }

  #events {
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 100%;
    justify-content: center;
  }

  .evenEvent {
    background-color: var(--secondary-color);
  }

  #wdd-meeting {
    display: grid;
    gap: 20px;
    justify-content: center;
    text-align: center;
    font-size: 1.8em;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 20px 20px 0 20px;
    padding: 10px;
  }

  .meeting-main-text {
    padding-bottom: 20px;
    margin: 0 0 10px 0;
    border-bottom: solid var(--primary-color) 3px;
  }

  .meeting-info {
    margin: 0;
  }

  .meeting-desc {
    text-align: center;
    max-width: 600px;
  }

  @media screen and (min-width: 840px) {
    #cool-cards {
      grid-template-columns: repeat(2, 1fr);
      max-width: 810px;
      margin: 0 auto;
    }
    .event-container {
      grid-template-columns: repeat(2, 1fr);
    }

    #wdd-meeting {
      margin: 20px 40px 0 40px;
    }
  }

  @media screen and (min-width: 1260px) {
    #cool-cards {
      grid-template-columns: repeat(3, 1fr);
      max-width: 1130px;
      margin: 0 auto;
    }
    .event-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
