---
import pictures from './pictures.json';

const baseUrl = import.meta.env.BASE_URL;
---

<div id="photo-cards">
  {
    pictures.map(({ imageURL, name }) => (
      <div class="photo-card">
        <img
          src={`${baseUrl}/images/gallery/${imageURL}`}
          alt={name}
          data-url={`${baseUrl}/images/gallery/${imageURL}`}
        />
        <p>{name}</p>
      </div>
    ))
  }
</div>

<script>
  document.getElementById('photo-cards')?.addEventListener('click', (event) => {
    const target = event.target as HTMLElement;
    if (target.tagName === 'IMG') {
      expandImage(target.dataset.url as string);
    }
  });

  function expandImage(src: string) {
    // Create overlay
    const overlay = document.createElement('div');
    overlay.className = 'expanded-overlay';

    // Create image element
    const img = document.createElement('img');
    img.src = src;
    img.className = 'expanded-img';

    // Close overlay when clicked
    overlay.addEventListener('click', () => {
      document.body.removeChild(overlay);
    });

    overlay.appendChild(img);
    document.body.appendChild(overlay);
  }
</script>

<style>
  #photo-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
  }

  #photo-cards p {
    color: #006eb6;
  }

  .photo-card img {
    object-fit: cover;
    height: 250px;
    width: 250px;
    aspect-ratio: 1/1;
    border: 5px #006eb6 solid;
    border-radius: 50px 20px;
    transition:
      transform 0.3s ease,
      border-radius 0.3s ease;
    cursor: pointer;
  }

  .photo-card img:hover {
    transform: scale(1.05);
  }

  .photo-card img:active {
    transform: scale(0.9) rotate(5deg);
    border-radius: 20px 50px;
  }

  footer {
    color: white;
  }

  :global(.expanded-overlay) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  :global(.expanded-img) {
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease;
    border: 0.5em #006eb6 solid;
  }

  :global(.expanded-overlay::after) {
    content: '✖';
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: white;
    -webkit-text-stroke: 0.05em #006eb6;
    cursor: pointer;
  }
</style>
